Repository Phses/personal-blog-front: changes, and which lint-staged commands are due for each by the changed paths.
All: ng lint --fix, prettier --write

chore: change husky push
  .husky/pre-push
Due: none

fix: fix test script
  .husky/pre-push
Due: none

test: test fix
  .prettierrc.json
Due: prettier --write

fix: fix lint tests
  .eslintignore
  .lintstagedrc.json
  package.json
  src/app/app.component.spec.ts
Due: ng lint --fix, prettier --write

fix: fix all problems
  src/app/app.component.spec.ts
Due: ng lint --fix, prettier --write

Path conditions:
  ng lint --fix: any of: *.{ts, html}
  prettier --write: any of: *.{json,css,scss,less,md,ts,html}
